section.section
	.container
		.slider#slider.owl-carousel
			.slider__slide.slider-slide
				.slider__content
					.slider__descr
						img(src="./img/slider/logos.png", alt="Картинка").slider__descr-img
						h1.slider__descr-title <span>Stan Smith</span>, Forever! 1
						button.slider__descr-btn Купить
					img(src="./img/slider/slider-bg.png", alt="Картинка").slider__bg
			.slider__slide.slider-slide
				.slider__content
					.slider__descr
						img(src="./img/slider/logos.png", alt="Картинка").slider__descr-img
						h1.slider__descr-title <span>Stan Smith</span>, Forever! 2
						button.slider__descr-btn Купить
					img(src="./img/slider/slider-bg.png", alt="Картинка").slider__bg
			.slider__slide.slider-slide
				.slider__content
					.slider__descr
						img(src="./img/slider/logos.png", alt="Картинка").slider__descr-img
						h1.slider__descr-title <span>Stan Smith</span>, Forever! 3
						button.slider__descr-btn Купить
					img(src="./img/slider/slider-bg.png", alt="Картинка").slider__bg