section.section.section--catalog
	.container
		.catalog
			.catalog__search
				h1.catalog__title Все кроссовки
				input.catalog__search-input(type="search" placeholder="Поиск...")
			.catalog__content
				.catalog__content-item
					img(src="./img/catalog/item1.png", alt="Картинка").catalog__item-img
					p.catalog__item-descr Мужские Кроссовки Nike Blazer Mid Suede
					.catalog__item-price
						.catalog__item-price-tag
							p.catalog__item-price-text цена:
							h1.catalog__item-price-ruble 12 999 руб.
						img(src="./img/svg/add.svg", alt="Добавить").catalog__item-add
						img(src="./img/svg/added.svg", alt="").catalog__item-added
					img(src="./img/svg/item-like.svg", alt="Избранное").catalog__item-like
				.catalog__content-item
					img(src="./img/catalog/item2.png", alt="Картинка").catalog__item-img
					p.catalog__item-descr Мужские Кроссовки Nike Air Max 270
					.catalog__item-price
						.catalog__item-price-tag
							p.catalog__item-price-text цена:
							h1.catalog__item-price-ruble 12 999 руб.
						img(src="./img/svg/add.svg", alt="Добавить").catalog__item-add
						img(src="./img/svg/added.svg", alt="").catalog__item-added
					img(src="./img/svg/item-like.svg", alt="Избранное").catalog__item-like
				.catalog__content-item
					img(src="./img/catalog/item3.png", alt="Картинка").catalog__item-img
					p.catalog__item-descr Мужские Кроссовки Nike Blazer Mid Suede
					.catalog__item-price
						.catalog__item-price-tag
							p.catalog__item-price-text цена:
							h1.catalog__item-price-ruble 8 499 руб.
						img(src="./img/svg/add.svg", alt="Добавить").catalog__item-add
						img(src="./img/svg/added.svg", alt="").catalog__item-added
					img(src="./img/svg/item-like.svg", alt="Избранное").catalog__item-like
				.catalog__content-item
					img(src="./img/catalog/item4.png", alt="Картинка").catalog__item-img
					p.catalog__item-descr Кроссовки Puma X Aka Boku Future Rider
					.catalog__item-price
						.catalog__item-price-tag
							p.catalog__item-price-text цена:
							h1.catalog__item-price-ruble 8 999 руб.
						img(src="./img/svg/add.svg", alt="Добавить").catalog__item-add
						img(src="./img/svg/added.svg", alt="").catalog__item-added
					img(src="./img/svg/item-like.svg", alt="Избранное").catalog__item-like
				.catalog__content-item
					img(src="./img/catalog/item5.png", alt="Картинка").catalog__item-img
					p.catalog__item-descr Мужские Кроссовки Under Armour Curry 8
					.catalog__item-price
						.catalog__item-price-tag
							p.catalog__item-price-text цена:
							h1.catalog__item-price-ruble 15 199 руб.
						img(src="./img/svg/add.svg", alt="Добавить").catalog__item-add
						img(src="./img/svg/added.svg", alt="").catalog__item-added
					img(src="./img/svg/item-like.svg", alt="Избранное").catalog__item-like
				.catalog__content-item
					img(src="./img/catalog/item6.png", alt="Картинка").catalog__item-img
					p.catalog__item-descr Мужские Кроссовки Nike Kyrie 7
					.catalog__item-price
						.catalog__item-price-tag
							p.catalog__item-price-text цена:
							h1.catalog__item-price-ruble 11 299 руб.
						img(src="./img/svg/add.svg", alt="Добавить").catalog__item-add
						img(src="./img/svg/added.svg", alt="").catalog__item-added
					img(src="./img/svg/item-like.svg", alt="Избранное").catalog__item-like
				.catalog__content-item
					img(src="./img/catalog/item7.png", alt="Картинка").catalog__item-img
					p.catalog__item-descr Мужские Кроссовки Jordan Air Jordan 11
					.catalog__item-price
						.catalog__item-price-tag
							p.catalog__item-price-text цена:
							h1.catalog__item-price-ruble 10 799 руб.
						img(src="./img/svg/add.svg", alt="Добавить").catalog__item-add
						img(src="./img/svg/added.svg", alt="").catalog__item-added
					img(src="./img/svg/item-like.svg", alt="Избранное").catalog__item-like
				.catalog__content-item
					img(src="./img/catalog/item8.png", alt="Картинка").catalog__item-img
					p.catalog__item-descr Мужские Кроссовки Jordan Air Jordan 11
					.catalog__item-price
						.catalog__item-price-tag
							p.catalog__item-price-text цена:
							h1.catalog__item-price-ruble 16 499 руб.
						img(src="./img/svg/add.svg", alt="Добавить").catalog__item-add
						img(src="./img/svg/added.svg", alt="").catalog__item-added
					img(src="./img/svg/item-like.svg", alt="Избранное").catalog__item-like
				.catalog__content-item
					img(src="./img/catalog/item9.png", alt="Картинка").catalog__item-img
					p.catalog__item-descr Мужские Кроссовки Nike Lebron XVIII Low
					.catalog__item-price
						.catalog__item-price-tag
							p.catalog__item-price-text цена:
							h1.catalog__item-price-ruble 13 999 руб.
						img(src="./img/svg/add.svg", alt="Добавить").catalog__item-add
						img(src="./img/svg/added.svg", alt="").catalog__item-added
					img(src="./img/svg/item-like.svg", alt="Избранное").catalog__item-like
				.catalog__content-item
					img(src="./img/catalog/item10.png", alt="Картинка").catalog__item-img
					p.catalog__item-descr Мужские Кроссовки Nike Blazer Mid Suede
					.catalog__item-price
						.catalog__item-price-tag
							p.catalog__item-price-text цена:
							h1.catalog__item-price-ruble 8 499 руб.
						img(src="./img/svg/add.svg", alt="Добавить").catalog__item-add
						img(src="./img/svg/added.svg", alt="").catalog__item-added
					img(src="./img/svg/item-like.svg", alt="Избранное").catalog__item-like
				.catalog__content-item
					img(src="./img/catalog/item11.png", alt="Картинка").catalog__item-img
					p.catalog__item-descr Кроссовки Puma X Aka Boku Future Rider
					.catalog__item-price
						.catalog__item-price-tag
							p.catalog__item-price-text цена:
							h1.catalog__item-price-ruble 8 999 руб.
						img(src="./img/svg/add.svg", alt="Добавить").catalog__item-add
						img(src="./img/svg/added.svg", alt="").catalog__item-added
					img(src="./img/svg/item-like.svg", alt="Избранное").catalog__item-like
				.catalog__content-item
					img(src="./img/catalog/item12.png", alt="Картинка").catalog__item-img
					p.catalog__item-descr Мужские Кроссовки Nike Kyrie Flytrap IV
					.catalog__item-price
						.catalog__item-price-tag
							p.catalog__item-price-text цена:
							h1.catalog__item-price-ruble 11 299 руб.
						img(src="./img/svg/add.svg", alt="Добавить").catalog__item-add
						img(src="./img/svg/added.svg", alt="").catalog__item-added
					img(src="./img/svg/item-like.svg", alt="Избранное").catalog__item-like